In [1]:
import firebase_admin
from firebase_admin import credentials, firestore
import pandas as pd
import ast

In [7]:

cred = credentials.Certificate("./key.json")
firebase_admin.initialize_app(cred)

In [9]:
db = firestore.client()

In [60]:
mentors = db.collection("mentors")
mentees = db.collection("mentees")

In [14]:
data = {'name':"Daniel",
       'interets':["a", "b", "c"]}

In [15]:
mentor.add(data)

(DatetimeWithNanoseconds(2021, 11, 6, 20, 17, 29, 194664, tzinfo=datetime.timezone.utc),
 <google.cloud.firestore_v1.document.DocumentReference at 0x1372229a0>)

In [207]:
def addToDb(isMentor, name, discord, major, year, interests, requests):
            data = {
                "name" : name,
                "discord" : discord,
                "major" : major,
                "year" : year,
                "interests" : interests,
                "request": requests
            }
            if isMentor:
                mentors.add(data)
            else:
                mentees.add(data)

In [200]:
addToDb(False, "Alex Woo", "haha#5081","Computer Science", "1", ["Coding", "Gaming", "Sleeping"], "n/a")

In [21]:
interests = ["coding", "cooking", "games"]

In [201]:


mentees.get()

[<google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x146849af0>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x146822850>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x146822880>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x1468223d0>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x14680e730>]

In [202]:
for x in mentees.get(): print(x)

<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x146849280>
<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x14680e2b0>
<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x103d91e50>
<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x1468499a0>
<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x14680e670>

In [82]:
df = pd.DataFrame()

SyntaxError: invalid syntax (3480992231.py, line 1)

In [205]:

#df = pd.DataFrame(data)
datas = []
for x in mentees.get():
    data = {'name':x.get("name"),
            'discord':x.get("discord"),
            'major':x.get('major'),
            'year':x.get('year'),
            'interests': x.get('interests'),
           'request':x.get('request')}
    datas.append(data)
df = pd.DataFrame(datas)

In [206]:
display(df)

,name,discord,major,year,interests,request
0,haha#5081,Ethan Too,Computer Science,2,"[Eating, Dancing]",n/a
1,haha#5081,Sam Too,Electrical Engineering,3,"[jumping, coding]",I want to make friends
2,haha#5081,Alex Woo,Computer Science,1,"[Coding, Gaming, Sleeping]",n/a
3,haha#5081,Ethan Too,Electrical Engineering,2,[Eating],I want to make friends
4,haha#5081,Will Zhang,Computer Science,4,"[jumping, fencing, sports]",i want to make a cooking program

In [147]:
df.sort_values('interests', key = )

TypeError: len() takes exactly one argument (0 given)

In [133]:
matches = ['cooking']
def sortFunc(df):
    counter = 0
    for x in df.get('interests'):
        if x in matches: counter+=1
    return counter

In [152]:
df.sort_values(by='major')

,name,major,year,interests,request
0,James Zhang,Computer Science,4,"[games, osu]",n/a
1,Ethan Qiao,Computer Science,1,"[games, osu]",na
2,John Zhang,Computer Science,4,"[jumping, sports]",i want to make a cooking program
3,James Zhang,Computer Science,4,"[games, osu, coding, cooking]",i want to make a cooking program
4,Will Zhang,Computer Science,4,"[jumping, fencing, sports]",i want to make a cooking program
5,Samuel Qiao,Computer Science,1,"[games, osu]",na
6,William Qiao,Computer Science,2,"[games, osu]",I want to learn frontend!

In [150]:
def sortDF(df.col):
    data = []
    for x in df:
        print(x)

SyntaxError: invalid syntax (3092157576.py, line 1)

In [158]:
df.loc[df['major'] == 'Computer Science']

,name,major,year,interests,request
0,James Zhang,Computer Science,4,"[games, osu]",n/a
1,Ethan Qiao,Computer Science,1,"[games, osu]",na
2,John Zhang,Computer Science,4,"[jumping, sports]",i want to make a cooking program
3,James Zhang,Computer Science,4,"[games, osu, coding, cooking]",i want to make a cooking program
4,Will Zhang,Computer Science,4,"[jumping, fencing, sports]",i want to make a cooking program
5,Samuel Qiao,Computer Science,1,"[games, osu]",na
6,William Qiao,Computer Science,2,"[games, osu]",I want to learn frontend!

In [189]:
for x in df.loc[df['year'] == '2'].iterrows():
    print(x[1].get("name"))

William Qiao