In [1]:
import firebase_admin
from firebase_admin import credentials, firestore
import pandas as pd
import ast

In [7]:

cred = credentials.Certificate("./key.json")
firebase_admin.initialize_app(cred)

In [9]:
db = firestore.client()

In [60]:
mentors = db.collection("mentors")
mentees = db.collection("mentees")

In [14]:
data = {'name':"Daniel",
       'interets':["a", "b", "c"]}

In [15]:
mentor.add(data)

(DatetimeWithNanoseconds(2021, 11, 6, 20, 17, 29, 194664, tzinfo=datetime.timezone.utc),
 <google.cloud.firestore_v1.document.DocumentReference at 0x1372229a0>)

In [87]:
def addToDb(isMentor, name, major, year, interests, requests):
            data = {
                "name" : name,
                "major" : major,
                "year" : year,
                "interests" : interests,
                "requests": requests
            }
            if isMentor:
                mentors.add(data)
            else:
                mentees.add(data)

In [80]:
addToDb(True, "James Zhang", "Computer Science", "4", ["games", "osu"], "n/a")

In [21]:
interests = ["coding", "cooking", "games"]

In [26]:


mentors.get()

[<google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x103db52e0>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x1374304f0>,
 <google.cloud.firestore_v1.base_document.DocumentSnapshot at 0x137430340>]

In [66]:
for x in mentees.get(): print(x)

<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x14680ea30>
<google.cloud.firestore_v1.base_document.DocumentSnapshot object at 0x13745ae20>

In [82]:
df = pd.DataFrame()

SyntaxError: invalid syntax (3480992231.py, line 1)

In [108]:

data = {'name':"",
        'major':"",
        'year':"",
        'interests':"",
        'request':""}
#df = pd.DataFrame(data)
datas = []
for x in mentees.get():
    data = {'name':x.get("name"), 
            'major':x.get('major'),
            'year':x.get('year'),
            'interests': x.get('interests'),
           'request':x.get('requests')}
    datas.append(data)
df = pd.DataFrame(datas)
for x in mentees.get():
    data = {'name':x.get("name")+"haha", 
            'major':x.get('major'),
            'year':x.get('year'),
            'interests': x.get('interests'),
           'request':x.get('requests')}

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [107]:
display(df)

,name,major,year,interests,request
0,Ethan Qiao,Computer Science,1,"[games, osu]",na
1,Samuel Qiao,Computer Science,1,"[games, osu]",na
2,William Qiao,Computer Science,2,"[games, osu]",I want to learn frontend!

In [50]:
df.data

AttributeError: 'DataFrame' object has no attribute 'data'